[user]
	name = Guido Kessels
	email = guidokessels@gmail.com
[core]
	autocrlf = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[gc]
	auto = 1
[merge]
	summay = true
[alias]
	b = branch -v
	r = remote -v
	t = tag -l
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	st = status
